@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Aleo:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

.body {
    width: 100%;
    height: 100%;
}
.bg {
width: 100%;
height: 862px;
background: url(HeaderBackground.svg);
}
.h1 {
    font-family: Josefin Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 52px;
    text-align: center;
    padding-top: 295px;
    color: white;
}
.header_text {
    font-family: Josefin Sans;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.31em;
    text-align: center;
    color: white;
    margin-top: -20px;
}
.input_button {
    display: flex;
    justify-content: center;
}
.input_button input {
  border: none;
  outline: none;
  }
  .input_button button {
    border: none;
    cursor: pointer;
  }
input {
    padding-left: 36px;
}
.header_input {
    width: 100%;
    max-width: 611px;
    height: 60px;
    font-family: Josefin Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2em;
    text-align: left;
    color: #999999;
}
.header_button {
    margin-left: 503px;
    margin-top: 5px;
    position: absolute;
    width: 100%;
    max-width: 139px;
    height: 52px;
    padding: 16px 24px 16px 24px;  
    background-color: #5373FD;
    color: white;
    font-family: Aleo;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-align: center;
}
.header_p {
    display: inline;
    margin-left: 2px;
}
.header_bottom {
    margin-top: 211px;
    text-align: center;
}
.header_text_buttom {
    font-family: Josefin Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2em;
    text-align: center;
    color: white;
    
}
.scroll {
    width: 14px;
    height: 16px;
    font-family: Josefin Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2em;
    color: white;
    text-decoration: none;
}
.navigation {
    height: 84px;
    background-color: #5373FD;
    margin-top: -16px;
    display: flex;
    justify-content: center;
}
.nav {
    width: 1320px;
    display: flex;
    justify-content: space-between;
}
.navigation_text {
    font-family: Josefin Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.1em;
    text-align: left;
    color: white;
    margin-top: 32px;
    margin-left: 5px;
}
.navigation_links {
    display: flex;
    list-style-type: none;
    margin-right: 10px;
}
.navigation_item {
    font-family: Aleo;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-align: left;
    text-decoration: none;
    color: white;
    margin-left: 40px;
}
.navigation_item:hover {
    color: white;
    font-weight: 400;
}
.links {
    display: flex;
    align-items: center;
}
.content_1 {
    background: url(WhyBackground.svg);
    height: 704px;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container_h1 {
    font-family: Aleo;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    text-align: left;
    color: white;
}
.container_p {
    font-family: Josefin Sans;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0.1em;
    text-align: left;
    color: white;
    overflow: scroll;
    height: 100px;
}
.container_text {
    max-width: 648px;
    margin-right: 210px;
    margin-top: 124px;
    margin-left: 10px;
}
.container_img {
    margin-top: 124px;
    width: 424px;
}
.container_button {
    width: 213px;
    height: 60px;
    font-family: Aleo;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.07em;
    text-align: center;
    background-color: #5373FD;
    color: white;
    border: none;
    cursor: pointer;
}
.container_image {
    display: block;
}
.container_image1:nth-child(1) {
    position: relative;
    left: -80px;
}
.content_2 {
    height: 306px;
    background-color: #333333;
}
.container_2 {
    display: flex;
    justify-content: center;
    
}
.search {
    margin-top: 107px;
}
.check {
    margin-top: 107px;
    margin-left: 200px;
    margin-right: 200px;
}
.like {
    margin-top: 107px;
}
.container_2_text {
    font-family: Aleo;
    font-size: 36px;
    font-weight: 300;
    line-height: 40px;
    color: white;
    text-align: center;
}
.container_2_text_check {
    font-family: Aleo;
    font-size: 36px;
    font-weight: 300;
    line-height: 40px;
    color: white;
    text-align: center;
}
.container_2_img {
    margin-left: 70px;
    margin-bottom: -20px;
}
.container_2_img_check {
    margin-left: 70px;
    margin-bottom: -20px;
}
.content_3 {
    margin-top: -16px;
    height: 684px;
    background: url(spain1.svg);
    display: flex;
    align-items: center;
    justify-content: center;
}
.container_3 {
    width: 1320px;
    display: flex;
    justify-content: start;
    margin-left: 50px;
}
.spain {
    font-family: Josefin Sans;
    font-size: 20px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0.1em;
    text-align: left;
    color: white;
    margin-left: 32px;
    padding-top: 44px;
}
.container_3_h1 {
    font-family: Josefin Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: white;
    margin-left: 32px;
}
.container_3_text {
    font-family: Josefin Sans;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0.1em;
    text-align: left;
    color: white;
    width: 600px;
    margin-left: 32px;
}
.container_3_button {
    font-family: Aleo;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.07em;
    text-align: center;
    color: white;
    background-color: #5373FD;
    border: none;
    width: 213px;
    height: 60px;
    cursor: pointer;
    margin-left: 32px;
}
.container_item {
    width: 648px;
    height: 344px;
    background: #232323E5;
}
.content_4 {
    margin-top: -16px;
    height: 684px;
    background: url(spain2.svg);
    display: flex;
    align-items: center;
    justify-content: center;
}
.container_4 {
    width: 1320px;
    display: flex;
    justify-content: end;
    margin-left: 50px;
}
.spain {
    font-family: Josefin Sans;
    font-size: 20px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0.1em;
    text-align: left;
    color: white;
    margin-left: 32px;
    padding-top: 44px;
}
.container_4_h1 {
    font-family: Josefin Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: white;
    margin-left: 32px;
}
.container_4_text {
    font-family: Josefin Sans;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0.1em;
    text-align: left;
    color: white;
    width: 600px;
    margin-left: 32px;
}
.container_4_button {
    font-family: Aleo;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.07em;
    text-align: center;
    color: white;
    background-color: #5373FD;
    border: none;
    width: 213px;
    height: 60px;
    cursor: pointer;
    margin-left: 32px;
}
.container_item {
    width: 648px;
    height: 344px;
    background: #232323E5;
}
.content_55 {
    height: 680px;
    background: url(BG.svg);
    margin-top: -120px;
}
.content_5 {
   
    display: flex;
    align-items: center;
    justify-content: center;
}
.container_5 {
    display: flex;
}
.container_5_h1 {
    font-family: Aleo;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    color: white;
    padding-top: 120px;
}
.container_5_h2 {
    font-family: Josefin Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: white;
    padding-top: 28px;
    padding-left: 60px;
}
.container_5_p {
    font-family: Josefin Sans;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0.1em;
    text-align: left;
    color: white;
    padding-left: 60px;
    max-width: 760px;
    overflow-y: scroll;
    height: 150px;
}
.container_5_text {
    max-width: 880px;
    max-height: 280px;
    background-color: #333333;
}
.footer {
    height: 268px;
    background-color: black;
    margin-top: -24px;
}
.footer_h1 {
    font-family: Josefin Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.1em;
    text-align: center;
    color: white;
    padding-top: 80px;
}
.footer_text {
    font-family: Josefin Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2em;
    text-align: center;
    color: white;
}
.footer_links {
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footer_item {
    margin-right: 32px;
}

.line{
    position: absolute;
    max-width: 850px;

    height: 90px;
    top: 1710px;
    gap: 0px;
    border: 1px 0px 0px 0px white;
}
.twitter {
    width: 32px;
    height: 32px;
    fill: white;
    margin-right: 32px;
}
.twitter:hover {
    stroke: lightskyblue;
    fill: lightskyblue;
}
.face {
    width: 20px;
    height: 32px;
    fill: white;
    margin-right: 32px;
}
.face:hover {
    stroke: blue;
    fill: blue;
}
.linkedin {
    width: 28px;
    height: 32px;
    fill: white;
    margin-right: 32px;
}
.linkedin:hover {
    stroke: #5373FD;
    fill: #5373FD;
}
.youtube {
    width: 36px;
    height: 32px;
    fill: white;
    margin-right: 32px;
}
.youtube:hover {
    stroke: red;
    fill: red;
}
.pinterest {
    width: 31px;
    height: 32px;
    fill: white;
    margin-right: 32px;
}
.pinterest:hover {
    stroke: red;
    fill: red;
}
@media only screen and (max-width: 700px) {
    .header {
        width: 100%;
    }
    .header_button {
        margin-left: 62%;
    }
    .input_button {
        width: 100%;
    }
    .header_input {
        font-size: 10px;
        padding-left: 20px;
    }
    .navigation {
        width: 100%;
    }
    .navigation_text {
        width: 10px;
        padding-left: 10px;
    }
    .navigation_links {
        display: block;
        padding-right: 10px;
    }
    .content_1 {
        width: 100%;

    }
    .container {
        max-width: 700px;
        display: flex;
        justify-content: center;
    }
    .container_text {
        width: 350px;
        padding-left: 10px;
        height: 100%;
        text-align: center;
        padding-left: 20px;
        margin-right: 0;
        
    }
    .container_h1 {
        font-size: 40px;
        text-align: center;
    }
    .container_p {
        font-size: 10px;
        text-align: center;
    }
    .container_img {
        display: flex;
        justify-content: center;
        position: absolute;
        margin-top: 650px;
        margin-left: 200px;
    }
    .container_image {
        margin-right: 35px;
        width: 170px;
        height: 170px;
        position: relative;
        left: -80px;
        padding-left: 20px;
        
    }
    .container_image1 { 
        width: 170px;
        height: 170px;
        position: relative;
        left: -80px;
    }

    .content_2 {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .container_2 {
      
        width: 1px;
      
    }
    .check {
        margin-right: 10px;
        margin-left: 10px;
    }
    .search {
        margin-right: 0px;
    }
    .like {
        margin-right: 30px;
    }
    .line {
        width: 220px;
        margin-right: 30px;
    }
    .container_2_text {
        font-size: 20px;
    }
    .container_2_img {
        width: 40px;
        margin: 0 auto;
        padding-left: 10px;
    }
    .container_2_text_check {
        font-size: 20px;
        padding-left: 50px;
        padding-right: 50px;
    }
    .container_2_img_check {
        width: 40px;
        margin: 0 auto;
        padding-left: 55px;
    }
    .container_item {
        width: 300px;
    }
    .container_3_text {
        width: 300px;
        text-align: center;
        margin-left: 3px;
    }
    .container_3_button {
        margin-left: 40px;
    }
    .container_4_text {
        width: 300px;
        text-align: center;
        margin-left: 3px;
    }
    .container_4_button {
        margin-left: 40px;
    }
    .container_4 {
        margin-right: 40px;
    }
    .container_5 {
        display: block;
    }
    .container_5_text {
        margin-top: -25px;
    }
    .container_5_p {
       width: 280px;
       height: 200px;
       font-size:10px;
    }
    .container_5_h1 {
        padding-top: 20px;
    }
}